


body {
    font-family: "Roboto", sans-serif;
    color: #434455;
    background-color: #fff;
}

ul, ol {
    list-style-type: none;
}

a {
    text-decoration: none;

}

button {
    cursor: pointer;
}


/* header */
.logo {
font-family: "Raleway", sans-serif;

font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
}

.header-span {
    color: #2e2f42;
}
 
.footer-span {
    color: #f4f4fd;
}

.nav-link {
       font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #2e2f42;
}


.nav-link:hover, 
.nav-link:focus {

   color: #404bbf;
}




.contacts-link:hover,
.contacts-link:focus {
color: #404bbf;
}

.contacts {
    font-style: normal;
}

.contacts-link {
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #434455;
}

/* Section 1 */
.section-hero {
    background-color: #2e2f42;;
}


.title {

font-size: 56px;
line-height: 1.07;
letter-spacing: 0.02em;
text-align: center;
color: #fff;
}

.hero-button {
box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
    background-color: #4d5ae5;;
   
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #fff;
     font-weight: 500
    
}

.hero-button:hover,
.hero-button:focus {
box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
    background: #404bbf;;
}



/*  Section 2 */
.benefits-title {


 
        font-size: 20px;
        line-height: 1.2;
        letter-spacing: 0.02em;
        color: #2e2f42; 
          font-weight: 500
}

.benefits-paragraph {
      
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #434455;
}



/*  Section 3 */
.section-team {
    background-color: #f4f4fd;;
}

.team-title {



font-size: 36px;
line-height: 1.11;
letter-spacing: 0.02em;
text-align: center;
color: #2e2f42;   
 text-transform: capitalize
}

.team-member {
   
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
    font-weight: 500
}
.team-item 
{
        background-color: #fff;
}

.team-paragraph {
 
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: center;
    color: #434455;
}



/* Section 4 */
.portfolio-title {
   
       
        font-size: 36px;
        line-height: 1.11;
        letter-spacing: 0.02em;
        text-align: center;
        color: #2e2f42;
        text-transform: capitalize
}

.portfolio-subtitle {

font-size: 20px;
line-height: 1.2;
letter-spacing: 0.02em;
color: #2e2f42;
font-weight: 500
}

.portfolio-item {
    background-color: #fff;
}

.portfolio-paragraph {
  
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}
.footer {
    background-color: #2e2f42;;
}

.footer-paragraph {
     
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #f4f4fd;
}